/* Gaya untuk table */
/* table,
th,
td {
    border: 1px solid blue;
    border-collapse: collapse;
}

th,
td {
    padding: 5px;
} */

/* .inline-container {
    display: flex; 
    align-items: center; 
    gap: 10px;
} */
